@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Josefin+Sans:wght@300;400&family=Mada:wght@300&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Mada, sans-serif;
    font-weight: 300;
    color: #edebe4;
    font-size: 90%;
}

h1 {
    font-family: Josefin Sans, sans-serif;
    font-size: 300%;
    font-weight: 400;
}

h3 {
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-size: 200%;
}

p {
    font-size: 1.6rem;
}

.button {
    width: 12em;
    height: 5em;
    
    background-color: #edebe4;
}

.button > a {
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: inherit;
    font-size: 170%;
    text-decoration: none;

    position: relative;
}

.button:hover {
    background-color: #ea4965;
    color: #edebe4;
}
        
/* Page Header */

#header {
    background-color: #edebe4;
    height: 6.5em;
    width: 100%;
    position: fixed;
    z-index: 2500;
    
    flex-wrap: wrap;
}

/* Logo */

#logo {
    font-family: Righteous, sans-serif;
    text-transform: uppercase;
    color: #232323;
    letter-spacing: 4px;
    font-size: 3rem;
    float: left;
    margin-left: 2%;
    text-decoration: none;
}

/* Nav Bar */

#menu {
    font-family: Josefin Sans, sans-serif;
    color: #232323;
    font-size: 1.3rem;
    line-height: 20px;
    
    position: absolute;
    bottom: 3%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #ea4965;
    color: #ea4965;
}

.active {
    border-bottom: 1px solid #ea4965;
    color: #ea4965;
}

/* Hero Image */ 

#hero-image {
    height: 25em;
    width: 100%;
    padding-top: 12em;
    
    background-size: cover;
    background-color: #232323;
    background-repeat: no-repeat;
    background-position: 55%;
    
    background-image: url(../images/hero-image.jpg);  
}

/* Hero Image Hook */

#hook-box {
    width: 80%;
    height: 12em;
    margin: auto;

    background-color: rgb(234,73,101, .7);
}

#hook-text {
    color: #edebe4;
    font-size: 1.5em;
    text-align: center;
    
    padding: 3%;
    transform: translate(0, 7.5%);
}

#hook-text > span {
    font-size: 1.5em;
    font-family: Bodoni Moda, sans-serif;
}

/* Book a Class Button */ 

#button-box {
    display: flex;
    justify-content: center;
    height: 0;
}

#book-a-class-button {
    position: absolute;
    top: 30em;
}

#book-a-class-button:hover {
    background-color: #ea4965;
}

/* Ethos Section */ 

#ethos {
    width: 100%;
    height: 77em;

    background-color: #5a7765;
}

#ethos-text {
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}

#ethos-text h1 {
    margin-top: .5em;
}

#ethos-text > p {
    padding: 10px;
    font-size: 1.5em;
}

/* More Info Boxes */

#boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: 2em;
}

.learn-more {
    margin-top: 0.4em;
}

/* About Box */

#about-us-box {
    width: 20em;
    height: 20em;
    background-color: #232323;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    overflow: hidden;

    background-image: url(../images/about.jpg);
}

#about-us-text {
    text-align: center;
    padding: 10px;
}

#about-us-text h1 {
    font-size: 2.8em;
    padding-top: 15px;
}

#about-us-text p {
    font-size: 1.5em;
    padding: 5px;
}

.overlay {
    background-color: rgb(35, 35, 35, .7);
    overflow: hidden;
    height: 100%; 
}

/* Book a Class Box */

#book-a-class {
    width: 20em;
    height: 20em;
    background-color: #232323;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    overflow: hidden;

    background-image: url(../images/classes.jpg);
}

#book-a-class-text {
    text-align: center;
    padding: 10px;
}

#book-a-class-text h1 {
    font-size: 2.8em;
    padding-top: 15px;
}

#book-a-class-text p {
    font-size: 1.5em;
    padding: 5px;
}

.overlay {
    background-color: rgb(35, 35, 35, .7);
    overflow: hidden;
    height: 100%; 
}

/* Opening Times */

#opening-times {

    width: 100%;
    height: 20em;
    margin-top: 3em;
    padding-top: 2em;

    background-color: #edebe4;
}

#opening-times h1 {
    color: #232323;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

#table {
    color: #232323;
    font-family: Mada, sans-serif;
    font-size: 2em;
    border-spacing: 20px;
    margin: auto;
}

#table th {
    text-align: center;
}

#table tr {
    text-align: center;
    padding-top: 10px;
}

hr {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;

    border: solid 2px #ea4965;
}

/* Testimonies Section */

#testimonies {
    width: 100%;
    height: 75em;

    background-color: #edebe4;
}

.testimony-row {
    flex-wrap: wrap;
    display: flex;
    max-width: 500px;
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

#testimonies h1 {
    color: #232323;
    text-align: center;

    padding-top: 60px;
    padding-bottom: 40px ;
}

#testimonies h3 {
    color: #232323;
    text-align: center;
}

#testimonies p {
    color: #232323;
    text-align: center;
}

.portraits {
    width: 200px;
    height: 200px;
    background-color: #edebe4;
    
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 50%;
}

.portrait-container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

#testimony-1 {
    display: none;
}

#testimony-2 {
    display: none;
}

/* Footer */

footer{
    background-color: #edebe4;
    height: 100px;
    width: 100%;
    padding-top: 60px;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    color: #3a3a3a;
}

.social-networks a {
    text-decoration: none;
    margin: 1%;
    padding: 5%;
}

.social-networks i:hover {
    color: #ea4965;
}

/* About Page */

#who-we-are {
    height: 30em;
    background-color: #5a7765;
}

#who-we-are-img {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;

    overflow: hidden;
}

#who-we-are-img img {
    width: 45em;
    height: 25em;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    overflow: hidden;
    padding-top: 9em;
}

#who-we-are-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    
}

/* Media Queries */

/* Small To Medium Screens */

@media screen and (min-width:700px) {

    /* Nav Bar */

#logo {
    position: relative;
    top: 16px;
}

    #menu {
    font-family: Josefin Sans, sans-serif;
    color: #232323;
    font-size: 200%;
    line-height: 20px;
    
    position: relative;
    margin-right: 1%;
    top: 27px;
}

/* Hook Box */
#hook-box {
    width: 60%;
    height: 14em;

    background-color: rgb(234,73,101, .7);

    top: 200px;
    left: 36px;
    position: absolute;
}

#hook-text {
    color: #edebe4;
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 0.02em;
    
    padding: 3%;
    position: absolute;
    transform: translate(0, 7.5%);
}

/* Book a Class Button */ 

#button-box {
    display: flex;
    justify-content: right;
    margin-right: 4%;
    height: 0;
}

#book-a-class-button {
    width: 12em;
    height: 5em;
    
    bottom: 156px;

    background-color: #edebe4;
}

/* Testimonials */

#testimonies {
    height: 87em;
}

.testimony {
    width: 15em;
}

#testimony-blocks {
    flex-wrap: wrap;
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

#testimonies p {
    color: #232323;
    text-align: center;
}

#testimony-1 {
    display: block;
}

#testimony-2 {
    display: block;
}

}

/* Medium to Large Screens */

@media screen and (min-width:1000px) {
    /* Hook Box */
#hook-box {
    width: 53%;
}
/* Book a Class Button */ 
#button-box {
    height: 0;
}

#book-a-class-button {
    width: 20%;
}

/* Testimonies */
#testimonies {
    height: 55em;
}

}