@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Josefin+Sans:wght@300;400&family=Mada:wght@300&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Mada', sans-serif;
    font-weight: 300;
    color: #edebe4;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 300%;
    font-weight: 400;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 200%;
}

p {
    font-size: 1.6rem;
}

label {
    font-size: 1.6rem;
    font-family: 'Mada', sans-serif;
    font-weight: 300;
    color: #edebe4;
}

.button {
    width: 12em;
    height: 5em;
    margin-top: 1em;

    background-color: #edebe4;
}

.button>a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: inherit;
    font-size: 170%;
    text-decoration: none;

    position: relative;
}

.button:hover {
    background-color: #ea4965;
    color: #edebe4;
}

/* Page Header */

#header {
    background-color: #edebe4;
    height: 6.5em;
    width: 100%;
    position: fixed;
    z-index: 2500;

    flex-wrap: wrap;
}

/* Logo */

#logo {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    color: #232323;
    letter-spacing: 4px;
    font-size: 3rem;
    float: left;
    margin-left: 2%;
    text-decoration: none;
}

/* Nav Bar */

#menu {
    font-family: 'Josefin Sans', sans-serif;
    color: #232323;
    font-size: 1.3rem;
    line-height: 20px;

    position: absolute;
    bottom: 3%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 7px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #ea4965;
    color: #ea4965;
}

.active {
    border-bottom: 1px solid #ea4965;
    color: #ea4965;
}

/* Hero Image */

#hero-image {
    height: 25em;
    width: 100%;
    padding-top: 12em;

    background-size: cover;
    background-color: #232323;
    background-repeat: no-repeat;
    background-position: 55%;

    background-image: url(../images/hero-image.jpg);
}

/* Hero Image Hook */

#hook-box {
    width: 85%;
    max-width: 600px;
    height: 13em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2em;

    background-color: rgb(234, 73, 101, .7);
}

.text-content {
    color: #edebe4;
    font-size: 1.5em;
    text-align: center;

    padding: 4%;
    transform: translate(0, 13%);
}

.text-content span {
    font-size: 1.4em;
    font-family: 'Bodoni Moda', serif;
}

/* Book a Class Button */

#button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

#book-a-class-button {
    position: relative;
    margin-top: 1em;
}

#book-a-class-button:hover {
    background-color: #ea4965;
}

/* Ethos Section */

#ethos {
    width: 100%;
    height: auto;

    background-color: #5a7765;
}

#ethos-text {
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}

#ethos-text h1 {
    margin-top: .5em;
}

#ethos-text>p {
    padding: 10px;
    font-size: 1.5em;
}

/* More Info Boxes */

#boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: 2em;
}

.learn-more {
    margin-top: 0.4em;
}

/* About Box */

#about-us-box {
    width: 20em;
    height: 20em;
    background-color: #232323;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    overflow: hidden;

    background-image: url(../images/about.jpg);
}

#about-us-text {
    text-align: center;
    padding: 10px;
}

#about-us-text h1 {
    font-size: 2.8em;
    padding-top: 15px;
}

#about-us-text p {
    font-size: 1.5em;
    padding: 5px;
}

.overlay {
    background-color: rgb(35, 35, 35, .7);
    overflow: hidden;
    height: 100%;
}

/* Book a Class Box */

#book-a-class {
    width: 20em;
    height: 20em;
    background-color: #232323;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    overflow: hidden;

    background-image: url(../images/classes.jpg);
}

#book-a-class-text {
    text-align: center;
    padding: 10px;
}

#book-a-class-text h1 {
    font-size: 2.8em;
    padding-top: 15px;
}

#book-a-class-text p {
    font-size: 1.5em;
    padding: 5px;
}

.overlay {
    background-color: rgb(35, 35, 35, .7);
    overflow: hidden;
    height: 100%;
}

/* Opening Times */

#opening-times {

    width: 100%;
    height: auto;
    margin-top: 3em;
    padding-top: 2em;

    background-color: #edebe4;
}

#opening-times h1 {
    color: #232323;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

#table {
    color: #232323;
    font-family: 'Mada', sans-serif;
    font-size: 2em;
    border-spacing: 20px;
    margin: auto;
}

#table th {
    text-align: center;
}

#table tr {
    text-align: center;
    padding-top: 10px;
}

#times-hr {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;

    border: solid 2px #ea4965;
}

/* Testimonies Section */

#testimonies {
    width: 100%;
    height: auto;

    background-color: #edebe4;
}

.testimony-row {
    flex-wrap: wrap;
    display: flex;
    max-width: 500px;
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

#testimonies h1 {
    color: #232323;
    text-align: center;

    padding-top: 60px;
    padding-bottom: 40px;
}

#testimonies h3 {
    color: #232323;
    text-align: center;
}

#testimonies p {
    color: #232323;
    text-align: center;
}

.portraits {
    width: 200px;
    height: 200px;
    background-color: #edebe4;

    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 50%;
}

.portrait-container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

#testimony-1 {
    display: none;
}

#testimony-2 {
    display: none;
}

/* Footer */

footer {
    background-color: #edebe4;
    height: 100px;
    width: 100%;
    padding-top: 60px;
}

.social-networks {
    text-align: center;

}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    color: #3a3a3a;
}

.social-networks a {
    text-decoration: none;
    margin: 1%;
    padding: 5%;
}

.social-networks i:hover {
    color: #ea4965;
}

/* About */

#who-we-are {
    height: auto;
    background-color: #5a7765;
}

.who-we-are-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 7em;
    padding-bottom: 1.5em;
    justify-content: space-around;
}

#who-we-are-img {
    width: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    overflow: hidden;
    margin: 1em;
}

#who-we-are-img img {
    max-width: 100%;
}

#who-we-are-text {
    width: 100%;
    text-align: center;
    padding: 20px;
}

/* Classes */

#what-we-offer {
    width: 100%;
    height: auto;
    background-color: #edebe4;
}

.class-row {
    flex-wrap: wrap;
    display: flex;
    max-width: 500px;
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

.class {
    padding: 10px; 
    margin: 1em;
    border: solid 2px #5a7765;
}

#what-we-offer h1 {
    color: #232323;
    text-align: center;

    padding-top: 60px;
    padding-bottom: 40px;
}

#what-we-offer h3 {
    color: #ea4965;
    text-align: center;
}

#what-we-offer p {
    color: #232323;
    text-align: center;
}

/* Instructors */ 

#instructors {
    width: 100%;
    height: auto;

    background-color: #edebe4;
}

#instructors-blocks {
    padding-bottom: 1.5em;
}

.instructors-row {
    flex-wrap: wrap;
    display: flex;
    max-width: 30%;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    padding: 15px;
}

#instructors h1 {
    color: #232323;
    text-align: center;

    padding-top: 60px;
    padding-bottom: 40px;
}

#instructors h3 {
    color: #ea4965;
    text-align: center;
    font-family: 'Bodoni Moda', serif;
}

#instructors p {
    color: #232323;
    text-align: center;
}

/* Your Space */

#your-space {
    height: auto;
    background-color: #5a7765;
}

.your-space-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    justify-content: space-around;
}

#your-space-img {
    width: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    overflow: hidden;
    margin: 1em;
}

#your-space-img img {
    max-width: 100%;
}

#your-space-text {
    width: 100%;
    text-align: center;
    padding: 20px;
}

/* Booking Page */

#booking-page {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/booking.jpg);
    background-color: #232323;
}

#booking-box {
    width: 80%;
    max-width: 400px;
    top: 20%;
    padding-top: 9em;
    margin: auto;
    color: #ffff;
    background-color: rgba(234,73,101,.6);
}

#booking-box > h1 {
    text-align: center;
    padding: 10px;
    padding-bottom: 5px;
    color: #FFFFFF;
}

#class-type h3 {
    text-align: center;
    font-family: 'Bodoni Moda', serif;
}

.radio-btns {
    margin: 1em;
    text-align: center;
}

.radio-btns input {
    margin: 2px;
}

#details {
    padding: 1em;
}

#booking-hr {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;

    border: solid .5px #edebe4
}

.text-input {
    background:transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 20px 0px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #3a3a3a
}

#book {
    text-align: center;
    padding: 10px;
}

/* Get in Touch */

#contact-page {
    width: 100%;
    height: auto;
    background: #5a7765;
}

#header-section {
    display: flex;
    padding-top: 9em;
    justify-content: center;
}

#header-img {
    width: 85%;
    height: 35vh;
    background-color: #232323;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    overflow: hidden;

    background-image: url(../images/contact-us.jpg);
}

#get-in-touch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#input-fields {
    width: 80%;
    max-width: 400px;
}

#text-box {
    width: 75%;
    height: 25vh;
    margin: auto;
    margin-top: 2em;
    background-color: rgb(234, 73, 101, .7);

    text-align: center;
}

#text-input {
    justify-content: center;
    padding: 1em;
}

#text-field {
    background:transparent;
    border: 1px solid #fafafa;
    border-radius: 2px;
    color: #fafafa;
    margin: 20px 0px;
}

#personal-info {
    width: 80%;
    max-width: 350px;
    padding: 1em;
}

/* Location Map */

#location  {
   margin-left: 7%;
   padding-top: 1em;
   padding-bottom: 1em;
}

iframe {
    width: 91%;
    height: 70vh;
    margin: 20px 0px;
}

/* Media Queries */

/* Small To Medium Screens */

@media screen and (min-width:600px) {


/* Your Space */

#your-space-img {
    margin-left: 2em;
}


}

@media screen and (min-width:700px) {

    /* Nav Bar */

    #logo {
        position: relative;
        top: 16px;
    }

    #menu {
        font-family: 'Josefin Sans', sans-serif;
        color: #232323;
        font-size: 150%;
        line-height: 35px;

        position: relative;
        margin-right: 1%;
        top: 27px;
    }

    /* Testimonials */

    .testimony {
        width: 15em;
    }

    #testimony-blocks {
        flex-wrap: wrap;
        display: flex;
        max-width: 1000px;
        width: 100%;
        margin: auto;
    }

    #testimonies p {
        color: #232323;
        text-align: center;
    }

    #testimony-1 {
        display: block;
    }

    #testimony-2 {
        display: block;
    }

    /* Hero Section */

    #hook-box {
        justify-content: left;
        margin-left: 4em;
    }

    #button-box {
        justify-content: right;
        margin-right: 4em;
    }
    
    /* About */

    #who-we-are-text {
        text-align: left;
        max-width: 44%;
        padding-top: 2em;
    }

    #who-we-are-img {
        width: 46%;
    }

    /* Classes */

    #class-blocks {
        
        flex-wrap: wrap;
        display: flex;
        max-width: 1000px;
        width: 100%;
        margin: auto;
    }

    #what-we-offer p {
        color: #232323;
        text-align: center;
    }

    /* Instructors */

    #intructors-blocks {
        flex-wrap: wrap;
        display: flex;
        max-width: 1000px;
        width: 100%;
        margin: auto;
        padding-bottom: 2em;
    }

    /* Your Space */

    #your-space-text {
        text-align: left;
        max-width: 43%;
    }
    
    #your-space-img {
        width: 45%;
    }

    /* Contact Page */

    #header-img {
        height: 20vh;
    }

    #text-box {
        height: 14vh;
    }

    .text-content {
        font-size: 1.8em;
        padding: 0;
    }

    #text-box div {
        padding: 20px;
    }
}

/* Medium to Large Screens */

@media screen and (min-width:1000px) {

    /* Contact Page */

    #header-img {
        height: 26vh;
    }

    #text-box {
        height: 18vh;
    }
    
}